In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('data/gapminder.tsv', sep='\t')

In [6]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [20]:
data[data.continent=='Asia'].to_csv('data/asia1.csv')

In [24]:
data.set_index('continent').loc['Asia'].to_csv('data/asia2.csv')

In [29]:
groups = data.groupby('continent')
for group in groups:
    group[1].to_csv(f'data/{group[0]}.csv')

In [26]:
data.groupby('continent').get_group('Asia').to_csv('data/asia3.csv')

In [18]:
data.to_csv('data/myfile.csv')

0- run descriptive statistics on data

In [10]:
data.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [11]:
data['lifeExp'].mean()

59.47443936619713

1- what is the average lifeExp per continent

In [13]:
data.groupby('continent').mean()['lifeExp']

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

In [14]:
data.groupby('year').mean()['lifeExp']

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

2- what is the average lifeExp per continent per year

In [16]:
data.groupby(['continent', 'year']).mean()['lifeExp'].unstack('year')

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
continent,,,,,,,,,,,,
Africa,39.135500,41.266346,43.319442,45.334538,47.450942,49.580423,51.592865,53.344788,53.629577,53.598269,53.325231,54.806038
Americas,53.279840,55.960280,58.398760,60.410920,62.394920,64.391560,66.228840,68.090720,69.568360,71.150480,72.422040,73.608120
Asia,46.314394,49.318544,51.563223,54.663640,57.319269,59.610556,62.617939,64.851182,66.537212,68.020515,69.233879,70.728485
Europe,64.408500,66.703067,68.539233,69.737600,70.775033,71.937767,72.806400,73.642167,74.440100,75.505167,76.700600,77.648600
Oceania,69.255000,70.295000,71.085000,71.310000,71.910000,72.855000,74.290000,75.320000,76.945000,78.190000,79.740000,80.719500

3- what is the average length of country name per continent and year

4- what are the countries in which the averalge lifeExp over their observations is greater than 75 years